body{
    font-family: 'Nunito Sans','Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Nunito', sans-serif;
    font-weight:700;
    margin:0;
    color: #6900ff;
}

.mb-2{
    margin-bottom: 2rem;
}

.container{
    max-width:1200px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    margin:auto;
    height:100vh;
    flex-direction:column;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / .4) ;
}

dialog {
    border: none;
    border-radius:0.5rem;
    box-shadow: 0 0 1em rgb( 0 0 0/ .3);
    width: 80%;
}

.btn-abrir-modal{
    padding:20px 40px;
    border-radius:0.3rem;
    border:none;
    outline:none;
    background:#00b835;
    color:#fff;
    text-transform:uppercase;
}

.btn-abrir-modal:is(:focus, :hover){
    background:#000;
    cursor:pointer;
}


.btn-close{
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    color: transparent;
    position: absolute;
    top: 5px;
    right: -20px;
}

.btn-close:before{
    content: '+';
    transform: rotate(45deg);
    font-size: 1.5rem;
    color: #ff0000;
    font-weight: 700;
    position: absolute;
}

.btn-close:is(:hover):before{
    color: #000;
}

