* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    font-family: 'Nunito Sans','Nunito', sans-serif;
    font-size:62.5%;
    
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Nunito', sans-serif;
    font-weight:700;
    margin:0;
    color: #1d1d1f;
}

/* h1{
    display:flex;
    align-items:center;
    font-size:3.4rem;
} */

.headline {
    font-size: 48px;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: -0.003em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.subhead {
    font-size: 21px;
    line-height: 1.1904761905;
    font-weight: 600;
    letter-spacing: .011em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #86868b;
}

.headline svg{
    margin-right:0.5rem;
}

.mb-2{
    margin-bottom: 2rem;
    max-width: 70%;
}

.container{
    max-width:1200px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    margin:auto;
    min-height:100vh;
    flex-direction:column;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / .4) ;
}

dialog h2{
    font-family: 'Proxima Nova', sans-serif;
    text-transform:uppercase;
    font-weight: 700;
}

html{
    --height-modal: 160px;
}

dialog {
    border: none;
    border-radius:0.5rem;
    box-shadow: 0 0 1em rgb( 0 0 0/ .3);
    width: 80%;
    /* transform: all 0.3s ease; */
    height: var(--height-modal);
    font-size:1rem;
}


@keyframes heightAnima {
    0%   {height: var(--height-modal)}
    100% {height:40vh;}
}

.height60vh{
    height:40vh;
    /* transform: all 0.3s ease; */
    animation-name: heightAnima;
    animation-duration: 0.8s;
}

.btn-abrir-modal{
    padding:20px 40px;
    border-radius:0.3rem;
    border:none;
    outline:none;
    background:#00b835;
    color:#fff;
    text-transform:uppercase;
}

.btn-abrir-modal:is(:focus, :hover){
    background:#000;
    cursor:pointer;
}


.btn-close{
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    color: transparent;
    position: absolute;
    top: 5px;
    right: -20px;
}

.btn-close:before{
    content: '+';
    transform: rotate(45deg);
    font-size: 1.5rem;
    color: #ff0000;
    font-weight: 700;
    position: absolute;
}

.btn-close:is(:hover):before{
    color: #000;
}

ul{
    position:relative;
    list-style-type:none;
    margin:2rem 0 0 0;
    padding:0 0rem;;
    border:1px solid #ddd;
    border-radius:0.25rem;
    overflow:hidden;

}

#res ul li, #estados ul li{
    padding: 0.5rem 1rem;
    width: 10rem;
    border-bottom: 1px dashed #ddd;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor:pointer;
    font-family: 'Proxima Nova', sans-serif;
    /* font-weight:250; */
    /* font-weight:300; */
    font-weight:400;
    text-transform:uppercase;
    font-size:0.8rem;
}

#res ul li i {
    display: flex;
    width: 254px;
}

#res ul li:last-child{
    border-bottom:none;
}

#res ul li:hover{
    background:#f9f9f9;
}

#estados ul li{
    width:400px;
}

#estados ul li i {
    display: flex;
    width: 28px;
}


#estados ul li:nth-child(odd){
    background: #f9f9f9;
}

#estados ul li:last-child{
    border-bottom:none;
}

#estados ul li:hover{
    background:#FFFDE7;
    transition: all 0.2s ease;
}


.btn-simple{
    background: transparent;
    cursor: pointer;
    border: 2px solid #ccc;
    outline: none;
    color: #999;
    border-radius:4px;
    padding:0.5rem 1rem;
}

@keyframes arrowAnima {
    0%   {margin-left:0px}
    100% {margin-left:30px}
}

.active{
    background: #f2f2f2;
}

.active i{
    color:#6900ff;
    animation-duration: 0.5s;
    animation-name: arrowAnima;
    margin-left:30px;
}

#estados{
    font-family: 'Proxima Nova', sans-serif;
    text-transform:uppercase;
    font-size:0.6rem;
    margin-top:3rem;
    color:#666;
}

.badge {
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 1px 2px;
    margin-left: 1rem;
    background: #ffff;
    color: #ccc;
    font-size: 0.6rem;
    min-width: 27px;
    border: 1px solid #ddd;
    position: absolute;
    right: 10px;
    justify-content: space-between;
}

.badge i.ph-navigation-arrow{
    width:10px !important;
}